
.nav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

.button{
    width: 100%;
    border-radius: 0;
    border: 1px solid white;
}

.buttonActive{
    background-color: #9ac0f7;
}